<section class="emp-detail-view">
  <section class="emp-video-container">
    <video #videoPlayer id='videoPlayer' controls autoplay poster="//shaka-player-demo.appspot.com/assets/poster.jpg"></video>
  </section>
  <header class="emp-detail-header">
    <button color="primary" mat-fab (click)="goBack()">
      <mat-icon aria-label="Go back">arrow_back</mat-icon>
    </button>
    <!-- <button mat-button (click)="goBack()">Back</button> -->
  </header>
  <section class="emp-movie-information mat-typography">
    <div class="emp-movie-information-container">
      <h1 class="mat-h1" *ngIf="movie">
        {{ movie.name }}
      </h1>
      <section class="movie-options" fxLayout="column">
        <mat-form-field>
          <mat-select placeholder="Select Language" (selectionChange)="changeLanguage($event.value)">
            <mat-option *ngFor="let language of languages" [value]="language">
              {{ language }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Select Resolution" (selectionChange)="changeResolution($event.value)">
            <mat-option>
              Adaptive
            </mat-option>
            <mat-option *ngFor="let variant of variantTracks" [value]="variant">
              {{ variant.width + " x " + variant.height }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>
      <mat-list>
        <mat-list-item *ngIf="videoResolution">{{ "Resolution: " + videoResolution }}</mat-list-item>
        <mat-list-item>{{ streamBandwidth }}</mat-list-item>
        <mat-list-item>{{ networkBandwith }}</mat-list-item>
      </mat-list>
      <section>
        <div *ngIf="movie.offlineUri === ''">
          <button mat-raised-button (click)="openDownloadDialog()">
            <mat-icon>get_app</mat-icon>Download
          </button>
        </div>
        <div *ngIf="movie.offlineUri !== ''">
          <button mat-raised-button (click)="deleteMovie()" color="warn">
            <mat-icon>delete</mat-icon>Delete
          </button>
        </div>
      </section>
    </div>
  </section>

</section>